# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default_twitter: &default_twitter
  twitter_api_key: twitter_api_key
  twitter_api_secret: twitter_api_secret

development:
  secret_key_base: a8483eea22cc642f78da4014d696be01072f261c68a28f4cf573a28f17468689b81b3618bdc0791078af07eae20c13ac96373d200a2c6d7e6deaff64534ab978
  <<: *default_twitter

test:
  secret_key_base: 409e5ecae7bd6833a24145733068010da687672a259c4cead14f4c1fd267563549ea97dc540cc760ec1d6b4de0bb68a4a619d32264002c1eeae6448d21e49e48
  <<: *default_twitter

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  twitter_api_key: <%= ENV['TWITTER_API_KEY'] %>
  twitter_api_secret: <%= ENV['TWITTER_API_SECRET'] %>
